{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>加密邮件首页</title>
    <style>
        .navbar-container {
            padding: 0;
        }

        .navbar {
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
            border-style: solid;
            border-width: 1px 0;
            border-color: #ccc;
            width: 100%;
            background-color: #fafafa;
            border-radius: 10px;
        }

        .navbar-nav.ml-auto .nav-item {
        margin-left: 10px;
        }
        .custom-btn {
            border: 2px solid #007bff;
            background-color: transparent;
            color: #007bff;
        }

        .custom-btn:hover {
            background-color: #007bff;
            color: #fff;
        }
        .myblock {
            background-color: rgba(255, 255, 255, 0.8);
            border-radius: 10px;
            padding: 20px;
        }
        .navbar-brand img {
            width: 120px;
            height: 30px;
        }

    </style>
</head>

<body> 
    <div class="container-fluid">

        <!--导航条-->
        <div class="row">
            <div class="col-md-12">
                <div class="navbar-container">
                    <nav class="navbar navbar-expand-lg">
                        <div class="container">
                            <a class="navbar-brand" href="index"><img src="../static/img/logo.png" alt="Logo"></a>
                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarNav">
                                <ul class="navbar-nav">
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">主页</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">用户中心</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">帮助</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">关于我们</a>
                                    </li>
                                </ul>
                                <div class="ms-auto">
                                    <button class="btn custom-btn" type="button">Login</button>
                                    <button class="btn custom-btn" type="button">Register</button>
                                </div>
                            </div>
                          </div>
                    </nav>
                </div>
            </div>
        </div>

        <br>
        <br>

        <!--表单-->
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4 col-xs-12">
                <h1 class="text-center">邮件收发系统<small>(demo)</small></h1>
                <div class="myblock">
                    <form name="send-mail" action="" method="post" role="form">
                        {% csrf_token %}

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="sender">发件邮箱</label>
                                    <input type="text" class="form-control" id="sender" name="sender" placeholder="请输入发件邮箱">
                                </div>                            
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="stmp-code">授权码</label>
                                    <input type="text" class="form-control" id="stmp-code" name="stmp-code" placeholder="请输入授权码">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="receiver">收件邮箱</label>
                                    <input type="text" class="form-control" id="receiver" name="receiver" placeholder="请输入收件邮箱">
                                </div>
                            </div>
                            <div class="col-md-6"></div>
                        </div>

                        <br>

                        <div class="row">
                            <div class="col-md-6">                         
                                <div class="form-group">
                                    <label for="subject">主题</label>
                                    <input type="text" class="form-control" id="subject" name="subject" placeholder="请输入邮件主题">
                                </div>
                            </div>
                            <div class="col-md-6"></div>
                        </div>

                        <div class="row">
                            <div class="form-group">
                                <label for="content">正文</label>
                                <textarea type="text" class="form-control" id="content" name="content" placeholder="请输入邮件内容"></textarea>
                            </div>
                        </div>

                        <br>

                        <div class="col-md-12" style="text-align: right;">
                            <input type="submit" value="发送" class="btn btn-primary">
                        </div>

                </form>
            </div>
        </div>
        <div class="col-md-4"></div>
        </div>

    </div>
</body>
</html>